<div class="main">
    <h2>Soft Skills</h2>
    <div>
        <section>
            <div class="skills-body">
                <span class="contact">
                    <img src="../../assets/timemanagment.png"/>
                    Time Management
                </span>
                <span class="contact">
                    <img src="../../assets/Flexibility.png"/>
                    Flexibility
                </span>
                <span class="contact">
                    <img src="../../assets/communication.png"/>
                    Communication
                </span>
                <span class="contact">
                    <img src="../../assets/Mentorship.webp"/>
                    Mentorship
                </span>
                <span class="contact">
                    <img src="../../assets/Research.png"/>
                    Research
                </span>
            </div>
        </section>
    </div>
</div>