<div class="main">
    <h2>Work Skills</h2>
    <div>
        <section>
                <div class="skills-body">
                    <span class="contact">
                        <img src="../../assets/htmlpng.png"/>
                        HTML/HTML5
                    </span>
                    <span class="contact">
                        <img src="../../assets/css.webp"/>
                        Css/Css3
                    </span>
                    <span class="contact">
                        <img src="../../assets/js.png"/>
                        JavaScript
                    </span>
                    <span class="contact">
                        <img src="../../assets/ts.png"/>
                        TypeScript
                    </span>
                    <span class="contact">
                        <img src="../../assets/angular.png"/>
                        Angular
                    </span>
                    <span class="contact">
                        <img src="../../assets/Bootstrap.png"/>
                        Bootstrap
                    </span>
                    <span class="contact">
                        <img src="../../assets/AngularMaterial.png"/>
                        Angular Material
                    </span>
                    <span class="contact">
                        <img src="../../assets/oop.png"/>
                        OOP
                    </span>
                    <span class="contact">
                        <img src="../../assets/DesignPattern.png"/>
                        Design Patterns
                    </span>
                    <span class="contact">
                        <img src="../../assets/Sqlserver.png"/>
                        Sql Server
                    </span>
                    
                </div>
        </section>
    </div>
</div>
