<div class="main">
    <h2>Apps</h2>
    <div>
        <section>
                <div class="project">
                    <div class="header" style="background-image: url(../../assets/SmartHospital.png);">
                    </div>
                    <div class="contact">
                        <a href="https://smart-hospital-wmyz.vercel.app/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <h4>Intelligent health care system</h4>
                        <!-- <a href="../../assets/account/hospital.txt" target="_blank">websit accounts</a> -->
                    </div>
                </div>
                <div class="project">
                    <div class="header" style="background-image: url(../../assets/SmartSchool.png);">
                    </div>
                    <div class="contact">
                        <a href="https://smart-school-nu.vercel.app/#/home" target="_blank"><i class="fa-solid fa-globe"></i></a> 
                        <h4>School managment system</h4>
                        <!-- <a href="../../assets/account/school.txt" target="_blank">websit accounts</a>-->
                    </div>
                </div>
                <div class="project" >
                    <div class="header" style="background-image: url(../../assets/Chatting.png);">
                    </div>
                    <div class="contact">
                        <a href="https://chatting-three.vercel.app/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <h4>chatting</h4>
                    </div>
                </div>
                <div class="project" >
                    <div class="header" style="background-image: url(../../assets/Screenshot-2023-04-11-142222.png);">
                    </div>
                    <div class="contact">
                        <h4>Book Store</h4>
                    </div>
                </div>
                <div class="project" >
                    <div class="header" style="background-image: url(../../assets/weather.png);">
                    </div>
                    <div class="contact">
                        <a href="https://weather-front-one.vercel.app/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <h4>Weather</h4>
                    </div>
                </div>
                <div class="project" >
                    <div class="header" style="background-image: url(../../assets/memory.png);">
                    </div>
                    <div class="contact">
                        <a href="https://aaya-ahmed.github.io/memory-game/" target="_blank"><i class="fa-solid fa-globe"></i></a>
                        <h4>Memory Game</h4>
                    </div>
                </div>
        </section>
    </div>
</div>