<div class="main">
    <h2>About Me</h2>
    <div>
        <section>
            <p>
                Highly motivated and talented front-end developer with a strong background in UI/UX design and proficiency in the Angular framework. Seeking a challenging position in a dynamic and collaborative environment where I can apply my skills, continuously improve, and contribute to a variety of projects. As a recent graduate, I am eager to contribute my knowledge, passion, and fast learning abilities to drive impactful results.
            </p>
        </section>
        <section class="section1">
            <section class="education">
                <div class="header">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span>Education</span>
                </div>
                <div class="info-body">
                    <div class="contact">
                        <h4>
                            2023 Jan – 2023 Jun
                        </h4>
                        <p>Full Stack .Net</p>
                        <p>ITI</p>
                    </div>
                    <div class="contact">
                        <h4>2022 Sep</h4>
                        <p>Angular & NodeJs</p>
                        <p>NTI</p>
                    </div>
                    <div class="contact">
                        <h4>
                            2022 Jul – 2022 Jul
                        </h4>
                        <p>Computer Engineering</p>
                        <p>Fayoum University</p>
                    </div>
                </div>
            </section>
            <section class="experiance">
                <div class="header">
                    <i class="fa-solid fa-briefcase"></i>
                    <span>Experiance</span>
                </div>
                <div class="info-body">
                    <div class="contact">
                        <h4>
                            2022 Oct – present
                        </h4>
                        <p>frontend developer</p>
                        <p>Bussna</p>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
