<aside>
    <header>
        <button (click)="closesidebar()">
            <i class="fa-solid fa-close"></i>
        </button>
        <div class="profilePhoto">
            <img src="../../assets/MainBg.jpg" alt="photo"/>
        </div>
        <div class="mainInfo">
            <h1>Aya Ahmed</h1>
            <p>Angular Developer</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/aaya-ahmed">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/aya-ahmed-aab471256">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="subInfo">
            <i class="fa-solid fa-phone"></i>
            <div>
                <h5>Phone</h5>
                <span>01023791861</span>
            </div>    
        </div>
        <div class="subInfo">
            <i class="fa-solid fa-envelope"></i>
            <div>
                <h5>email</h5>
                <span>aaya7098&#64;gmail.com</span>
            </div>    
        </div>
        <div class="subInfo">
            <i class="fa-solid fa-location-dot"></i>
            <div>
                <h5>location</h5>
                <span>giza cairo</span>
            </div>    
        </div>
        <div class="resume">
            <button>
                <i class="fa-solid fa-download"></i>
                <a href="../../assets/cv/Aya_Ahmed_CV(frontend).pdf" download="aya-ahmed">
                    download Resume
                </a>
            </button>
        </div>
    </section>
</aside>