.nav-list{
    height: 8rem;
    position: relative;
}
.nav-list ul{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    right: 0;
}
.nav-list ul li{
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    background: #E1E8EF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list ul li a{
    text-decoration: none;
}
.nav-list ul li a i,.nav-list ul li a span{
    display: block;
    text-align: center;
}
.nav-list ul li a i{
    color: #1A100380;
}
.nav-list ul li a span{
    color: black;
    font-family: Raleway;
    font-size: 0.6em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2rem;
}
.nav-list ul li:hover{
    cursor: pointer;
    background-image: linear-gradient(to right,#149ddd,#146bdd);
}
.nav-list ul li:hover a i,.nav-list ul li:hover a span{
    color: white;
}