<nav class="nav-list">
    <ul>
        <li>
            <a [routerLink]="''">
                <i class="fa-solid fa-house"></i>
                <span>Main</span>
            </a>
        </li>
        <li>
            <a [routerLink]="'work-skills'">
                <i class="fas fa-cogs"></i>
                <span>Work Skills</span>
            </a>
        </li>
        <li>
            <a [routerLink]="'soft-skills'">
                <i class="fa-regular fa-user"></i>
                <span>Soft Skills</span>
            </a>
        </li>
        <li>
            <a [routerLink]="'projects'">
                <i class="fa-solid fa-diagram-project"></i>
                <span>Projects</span>
            </a>
        </li> 
    </ul>
</nav>